@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');





body{
    
    height: 250vh;
    background-image: url('./21.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



nav{
    width: 99.2%;
    height: 90px;
    background-color:transparent;
    color: white;
    display: flex;
    padding: 0 10px;

}
a{
    text-decoration: none;
    color: white;
}

.logo-container{
    font-size: 72px;
    font-weight: 1000;
}



.cards{
    margin-top: 70px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.watched-button {
    background-color:rgb(22, 139, 242); 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.watched-button:hover {
    background-color:#0cd8ef; 
}

.watched-button.watched {
    background-color: #d3d3d3; 
    cursor: not-allowed;
}

.watched-button.watched:hover {
    background-color: #d3d3d3; 
}

.card{
    width: 200px;
    height: 360px;
    margin-bottom: 20px;    
    display: flex;
    flex-direction: column;
}

.image{
   
    width: 200px;
    height: 270px;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.info {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    flex-grow: 1;

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px; 
}
}